.cpt-2c-sidebar-filter-article {
    display: grid;
    grid-template-columns: 592px 1fr;
    min-height: 100vh;
}
.go-sidebar {
    position: relative;
    padding-right: 84px;
    background-color: #E2EDFF;
}
.go-sidebar .sidebar-title {
    margin-bottom: 40px;
    padding-left: 8px;
}
.go-sidebar .filters {
    max-width: 317px;
    width: 100%;
    margin: 0 0 0 auto;
}

.taxonomies {
    display: flex;
    flex-direction: column;
    gap: 36px;    
}
.taxonomy-group .taxonomy-title {
    display: grid;
    grid-template-columns: 24px 1fr 24px;
    gap: 8px;
    border-bottom: solid 1px #C1C7CD;
    padding-bottom: 21px;
    padding-left: 8px;
    cursor: pointer;
}
.taxonomy-group .taxonomy-title .icon,
.taxonomy-group .taxonomy-title .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.taxonomy-group .taxonomy-title .arrow {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}
.taxonomy-group.active .taxonomy-title .arrow {
    transform: rotate(0deg);
    transition: all 0.2s ease-in-out;
}
.taxonomy-group .taxonomy-title svg {
    width: 100%;
    height: auto;
}
.taxonomy-group .terms {
    display: none;
    flex-direction: column;
    gap: 9px;
    padding-top: 11px;
    padding-left: 2px;
    transition:  display 0.5s ease-in-out;
}
.taxonomy-group.active .terms {
    display: flex;
}
.taxonomy-group .terms label {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.terms input {
    display: none;
}
.terms .checkbox {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border: solid 1px #C1C7CD;
}
.terms .checkbox svg {
    visibility: hidden;
    opacity: 0;
}
.terms input:checked + .checkbox {
    background-color: #0F62FE;
    border: none;
}
.terms input:checked + .checkbox svg {
    visibility: visible;
    opacity: 1;
}
.terms .label {
    margin-top: 2px;
}


.go-content {
    padding-top: 130px;
    padding-left: 120px;
    padding-bottom: 99px;
    background-color: #fff;
}
.go-content .inner-content {
    max-width: 900px;
    margin-right: auto;
}

.search-widget {
    position: relative;
    max-width: 648px;
    height: 67px;
    border-bottom: solid 1px #C1C7CD;
    background-color: #F2F4F8;
    margin: 0 0 45px;
}
.search-widget input {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 12px 16px 12px 48px;
    border: none;    
    background-color: transparent!important;
    outline: none;
    box-shadow: none;
}
.search-widget input,
.search-widget ::placeholder {
    color: #121619;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}
.search-widget svg {
    position: absolute;
    top: 50%;
    left: 16px;
    z-index: 1;
    width: 24px;
    height: 24px;
    margin-top: -12px;
}

.go-content .results {
    position: relative;
    display: grid;    
    min-height: 50px;
}
.go-content .results::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-image: url(./loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.go-content .results.loading::after {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 1800px) {
    .go-content {
        padding-left: 7%;
        padding-right: 7%;
    }
}
@media only screen and (max-width: 1600px) {
    .cpt-2c-sidebar-filter-article {
        grid-template-columns: 400px 1fr;
    }
    .go-sidebar {
        padding-right: 7%;
        padding-left: 7%;
    }
}
@media only screen and (max-width: 1300px) {
    .cpt-2c-sidebar-filter-article {
        grid-template-columns: 300px 1fr;
    }    
}
@media only screen and (max-width: 820px) {    
    .cpt-2c-sidebar-filter-article {
        grid-template-columns: 1fr;
        min-height: 100%;
    }    
    .go-sidebar .filters {        
        max-width: 100%;
    }
    .go-content {
        padding-top: 7%;
        padding-bottom: 7%;
    }
}